<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Boat house a Travel Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<!-- custom-theme -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="keywords" content="Boat house Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smart phone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); }

	</script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/swipebox.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/JiSlider.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css') }}">

	<!-- //custom-theme -->

<body>
{% include 'aheader.html' %}



	<!-- banner -->
	<div class="banner-silder">
		<div id="JiSlider" class="jislider">
			<ul>
				<li>
					<div class="w3layouts-banner-top">

						<div class="container">
							<div class="agileits-banner-info">



							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="w3layouts-banner-top w3layouts-banner-top1">
						<div class="container">
							<div class="agileits-banner-info">




							</div>
						</div>
					</div>
				</li>
				<li>
					<div class="w3layouts-banner-top w3layouts-banner-top2">
						<div class="container">
							<div class="agileits-banner-info">

								<h3>Consectetur adipiscing elit</h3>
								<p>Lohjgfyufuyfuyvuyctyvcyufyufgyugrem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris
									sollicitudin dignissim.</p>

							</div>

						</div>
					</div>
				</li>
				<li>
					<div class="w3layouts-banner-top w3layouts-banner-top3">
						<div class="container">
							<div class="agileits-banner-info">

								<h3>Blandit massa vel mauris</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Sed blandit massa vel mauris
									sollicitudin dignissim.</p>

							</div>

						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- //banner -->

<!--about-->

ut -->
<!-- Tooltip -->


<!-- //Tooltip -->
<!--/services -->


<!-- //services -->
<!-- news -->


<!-- //footer -->


<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

<!-- js -->
 <script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js')}}"></script>
 <script src="{{ url_for('static', filename='js/JiSlider.js')}}"></script>


<script>
			$(window).load(function () {
				$('#JiSlider').JiSlider({color: '#fff', start: 3, reverse: true}).addClass('ff')
			})


</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();



</script>
 <script src="{{ url_for('static', filename='js/jarallax.js')}}"></script>
 <script src="{{ url_for('static', filename='js/SmoothScroll.min.js')}}"></script>


<script type="text/javascript">
		/* init Jarallax */
		$('.jarallax').jarallax({
			speed: 0.5,
			imgWidth: 1366,
			imgHeight: 768
		})


</script>

<!-- start-smoth-scrolling -->
<!-- //for bootstrap working -->
<!-- stats -->


 <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
 <script src="{{ url_for('static', filename='js/jquery.countup.js')}}"></script>

<script>
			$('.counter').countUp();


</script>
<!-- //stats -->
<!-- start-smooth-scrolling -->


 <script src="{{ url_for('static', filename='js/move-top.js')}}"></script>


 <script src="{{ url_for('static', filename='js/easing.js')}}"></script>

<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});


</script>
<!-- start-smooth-scrolling -->
<!-- here stars scrolling icon -->
<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
				};
			*/
								
			$().UItoTop({ easingType: 'easeOutQuart' });
								
			});


</script>
<!-- //here ends scrolling icon -->
  <script src="{{ url_for('static', filename='js/bootstrap-3.1.1.min.js')}}"></script>


<script type="text/javascript">
	$(window).load(function() {
	$("#flexiselDemo1").flexisel({
		visibleItems:1,
		animationSpeed: 1000,
		autoPlay:false,
		autoPlaySpeed: 3000,    		
		pauseOnHover: true,
		enableResponsiveBreakpoints: true,
		responsiveBreakpoints: { 
			portrait: { 
				changePoint:480,
				visibleItems: 1
			}, 
			landscape: { 
				changePoint:640,
				visibleItems:1
			},
			tablet: { 
				changePoint:768,
				visibleItems: 1
			}
		}
	});

	});


</script>
  <script src="{{ url_for('static', filename='js/jquery.flexisel.js')}}"></script>




</body>
</head></head></html>